canvas {
    float: left;
    border: 1px solid black;
}
#elements {
    float: left;
    border: 2px solid black;
    margin: 20px;
}
#playerName {
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 2px solid black;
    width: 100%;
}
.unit {
    border: 1px solid red;
    float: left;
    text-align: center;
    margin: 10px;
    padding: 30px;
    font-size: 20px;
    width: 20px;
    height: 20px;
}
.turn {
    border: 1px solid red;
    text-align: center;
    margin: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    width: 90%;
    height: 20px;
}